body {
    margin-top: 100px !important; background-color: #6c6262; margin: 0 auto;

}
.right {
	position: absolute; right: 5px; font-size: 20px; color: #ff3f34
}
.right li {
	margin-right: 10px; color: #d2dae2
}

